<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>edit page here</h1>
    <h3><%=product.name%></h3>

    <form action="/home/<%=product._id%>?_method=PUT" method="POST">
      Name : <input type="text" name="name" value="<%=product.name%>"><br>
      Image : <input type="text" name="img" value="">
      <input type="submit" name="" value="Submit Changes"/>
    </form>
    <a href="/home">Back to Home</a>
  </body>
</html>
