<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/home" method="POST">
    Name: <input type="text" name="name" required /><br/>
    Description: <input type="text" name="description" /><br/>
    Image: <input type="text" name="img" /><br/>
    Image2: <input type="text" name="img2" /><br/>
    Image3: <input type="text" name="img3" /><br/>
    Image4: <input type="text" name="img4" /><br/>
    Price: <input type="number" name="price" /><br/>
    Quantity: <input type="number" name="qty" /><br/>
    <input type="submit" value="Create Product"/>
  </form>
  </body>
</html>
