<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Showpage</h1>
    <%= product.name%>
    <form action="/home/<%=product._id; %>?_method=DELETE" method="POST">
      <input type="submit" name="" value="Delete">
    </form>
  </body>
</html>
