<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <header>
          <div class="logo">
            <a class="link" href="/home/welcome">
              <img class="logo-image ethan" src="/images/logo.svg" alt="logo" />
            </a>
          </div>
          <% if (currentUser) {%>
            <li>Hola <%=currentUser.username%></li>
            <form action="/sessions?_method=DELETE" method="post">
                <input type="submit" name="" value="Log Out">
            </form>
          <%} else { %>
          <div class="navigation">
              <div class="log-in">
                  <div class="login-logo">
                    <a class="link" href="/sessions/new">
                    <img class="logo-image login-img" src="/images/log in.svg" alt="photo" />
                    <p>Log In</p>
                    </a>
                  </div>
              </div>

              <div class="sign-up">
                <div class="sign-up-logo">
                  <a class="link" href="/user/new">
                    <img class="logo-image signup-img" src="/images/sign up.svg" alt="" />
                    <p id="sign-up">Sign Up</p>
                  </a>
                </div>

              </div>
          </div>
          <%}%>
        </header>
      </div>
      <!-- header div ends here -->
      <div class="top-candles">
        <a href="/home">
          <h4>Top Candles</h4>
        </a>

      </div>
      <div class="top-product">
        <% for (var i = 0; i < products.length; i++) {%>
              <div class="top-candle-img">
                <a href="/home/<%= products[i].id%>">
                  <img class="candleImg" src="<%= products[i].img%>" alt="photo" />
                </a>
                <div class="description">
                  <p class="about"><%=products[i].about%></p>
                </div>
              </div>
        <%}%>
      </div>
      <div class="allcandles top-candles">
        <a href="/home/">
          <h4>All Candles</h4>
        </a>
      </div>
      <div class="allcandleImage">
        <a class="candle-link" href="/home/">
          <img class="all-candle-img " src="/images/big_1.jpg" alt="photo">
        </a>

      </div>
      <div class="footer">
        <footer>
          <div class="nav-footer">
            <div class="about-us">
              <img class="logo-image" src="/images/about us.svg" alt="about us">
              <p>About Us</p>
            </div>
            <div class="contact-us">
              <img class="logo-image" src="/images/contact us.svg" alt="contact us">
              <p class="contact-p">Contact Us</p>
            </div>
          </div>
        </footer>
      </div>
  </body>
</html>
