

:root{
  --fade60: rgba(0,0,0,0.6);
  --footer: #474732;
  --footerTextColor: rgba(255,0,0,0.7);
  --navigation: rgba(180,183,69,.35);
  --bodytext: #474732;
  --transition: all 0.3s ease 0s;
  --dropshadow4-90: drop-shadow(4, 4, 4, rgba(0, 0, 0, 0.9);)
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid pink;
}
html, body {
  height: 100%;
  overflow: auto;

}
.top-product{
  width: 300px;
  height: 300px;

}
p{
  font-family: Philosopher, sans-serif;
  font-size: 8px;
  font-weight: 400;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.header{
  background:
  linear-gradient(
    var(--fade60),
    var(--fade60)
    ),
    url(/images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}
a{
  display: inline-block;
}
.header{
  width: 100%;
  height: 380px;
  margin-bottom: 42px;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo{
 width: 400px;
 text-align: center;
 margin-bottom: 66px;
 height: 49px;
}
.navigation{
  width: 175px;
  height: 47px;
  margin-left: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -60px;
  margin-top: 75px;
}

.log-in{

text-align: center;
border: 0;

}

.sign-up{
/* margin-bottom: -6px; */
border: 0;
text-align: center;
}
#sign-up{
  margin-top: -6px;
  text-align: center;
}
.logo-image{
  transition: var(--transition)
}
.logo-image:hover{
transform: scale(1.02);
}
/* header css ends here */


.top-candles{
align-self: stretch;
margin-left: 24px;
text-align: left;
}
h4{
  font-weight: 400;
  font-family: Philosopher sans-serif;
  font-size: 24px;
  letter-spacing: 3%;
  line-height: 5px;
  margin-bottom: 35px;
}

/* top candles div */
.top-product{
  /* border: 1px solid green; */
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  margin-left: 24px;
  align-self: stretch;
  /* padding-left: 40px; */
}
.top-candle-img{
  height: 300px;
  width: 300px;
  /* margin-right: 16px; */

}
.candleImg:first-of-type{
  width: 340px;
  height: 300px;
  margin-right: 16px;
  align-self: flex-start;
}
