

:root{
  --fade60: rgba(0,0,0,0.6);
  --footer: #474732;
  --footerTextColor: rgba(255,0,0,0.7);
  --navigation: rgba(180,183,69,.35);
  --bodytext: #474732;
  --transition: all 0.3s ease 0s;
  --dropshadow4-90: drop-shadow(4, 4, 4, rgba(0, 0, 0, 0.9);)
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid pink;
}
html, body {
  height: 100%;
  overflow: auto;

}
.top-product{
  width: 271px;
  height: 271px;

}
p{
  font-family: Philosopher, sans-serif;
  font-size: 12px;
  font-weight: 400px;
  margin-left: -4px;
  margin-top: -4px;
  color: var(--navigation);
  transition: var(--transition);
  width: 60px;
}

p:hover{
  transform: scale(1.03);
  color: rgba(180,183,69,.70);
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.header{
  background:
  linear-gradient(
    var(--fade60),
    var(--fade60)
    ),
    url(/images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}
a{
  display: inline-block;
  text-decoration: none;

}
.header{
  width: 100%;
  height: 337px;
  margin-bottom: 42px;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
header{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.logo{
 width: 100%;
 display: flex;
 text-align: center;
 /* margin-bottom: 66px; */
 height: 80px;
 align-items: center;
 /* justify-content: left; */
 /* margin: 0 auto; */
 /* margin-bottom: 75px;
 margin-top: 119px; */
 /* margin: 0 auto; */
 padding-top: 20px;
 padding-left: 60px;
}
.logo-image{
height: 49px;
margin: 0 auto;

}
.navigation{
  width: 60%;
  height: 54px;
  /* margin-left: 110px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: -60px; */
  padding-top: 75px;
  /* padding-top: 20px; */
  margin-left: -10px;
}

.log-in{
text-align: center;
border: 0;
height: 32px;

}

.sign-up{
/* margin-bottom: -6px; */
height: 32px;
text-align: center;
}
#sign-up{
  margin-top: -6px;
  /* text-align: center; */
  /* margin-bottom: -8px; */
}
.logo-image{
  transition: var(--transition)
}
.logo-image:hover{
transform: scale(1.03);
}
/* header css ends here */


.top-candles{
align-self: stretch;
margin-left: 24px;
text-align: left;
/* height: 5px; */
}
h4{
  font-weight: 400;
  font-family: Philosopher sans-serif;
  font-size: 24px;
  letter-spacing: 3%;
  line-height: 5px;
  margin-bottom: 35px;
  color: var(--bodytext);
  /* line-height: 5px; */

}

/* top candles div */
.top-product{
  /* border: 1px solid green; */
  height: 271px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  margin-left: 24px;
  align-self: stretch;
  margin-bottom: 32px;
  /* padding-left: 40px; */
}
.top-candle-img{
  height: 271px;
  width: 271px;
  margin-right: 16px;
}
.candleImg:first-of-type{
  width: 271px;
  height: 271px;
  border-radius: 4px;


}
/* end of top candles */


.allcandleImage{
  height: 300px;
  width: 100%;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
}

.footer{
  /* align-self: flex-end; */
  height: 228px;
  width: 100%;
  background: var(--footer);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.contact-us{
margin-left: 43px;

}
.about-us{
margin-right: 43px;
}
.nav-footer{
  width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.contact-p{
}
