<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>login page</h1>
    <form  action="/sessions" method="post">
      <input type="text" name="username" value="Enter Username"><br>
      <input type="password" name="password" value=""><br>
      <input type="submit" name="" value="Log In">
    </form>
  </body>
</html>
